<%= stylesheet_link_tag 'shared/progress' %>

<div id="profile-info">
  <%= facebook_picture(@user.fb_uid, :size => 'square') %>
  <div class="name-progress">
    <h2>
      <%= facebook_name(@user.fb_uid) %>
      <% if @user.latest_accomplishment.present? %>
        <span class="last-accomplishment">
          <%= @user.latest_accomplishment.title %>
        </span>
      <% end %>
    </h2>
    <strong>White Progress Meter</strong>
    <div class="progress">
      <div class="meter">
        <%= content_tag :div, '', :class => 'filled', :style => "width: #{number_to_percentage(@user.progress * 100)}" %>
      </div>
      <div class="percent">
        <%= number_to_percentage(@user.progress * 100, :precision => 1) %> White
      </div>
    </div>
  </div>
</div>

<div id="accomplishments">
  <% if facebook_connected? && @user.similarities(facebook_user).any? %>
    <strong>
      White things you and <%= facebook_name(@user.fb_uid, :firstnameonly => true) %> both do:
    </strong>
    <ul>
      <% @user.similarities(facebook_user).each do |post| %>
        <li>
          <%= link_to post.title, post %>
        </li>
      <% end %>
    </ul>
    <strong>
      White things <%= facebook_name(@user.fb_uid, :firstnameonly => true) %> does and you don't:
    </strong>
    <ul>
      <% @user.differences(facebook_user).each do |post| %>
        <li>
          <%= link_to post.title, post %>
        </li>
      <% end %>
    </ul>
    <ul>
    </ul>
  <% else %>
    <strong>
      White things about me:
    </strong>
    <ul>
      <% @user.accomplishments.each do |accomplishment| %>
        <li>
          <%= link_to accomplishment.post.first_person, accomplishment.post %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>