<% if facebook_user.incomplete.empty? %>
  <p>
    Congratulations, you are 100% white!
  </p>
  <p>
    But you probably lied about a few things.
  </p>
<% else %>
  <% facebook_user.incomplete.choice.tap do |post| %>
    <div class="question"><%= post.question %>?</div>
    <%= facebook_button 'Yes' %>
    <%= link_tag 'Maybe later', {}, :id => 'maybe-later' %>
    <div style="margin: 6px 0;">
      <%= pluralize(post.accomplishments.count, "white person #{post.title}", "white people #{post.third_person_plural}") %>
    </div>
    <div class="full-list">
      <%= link_to 'Show the full list', posts_path %>
    </div>
  <% end %>
<% end %>