<% if facebook_user.incomplete.empty? %>
  <p>
    Congratulations, you are 100% white!
  </p>
  <p>
    But you probably lied about a few things.
  </p>
<% else %>
  <% facebook_user.incomplete.choice.tap do |post| %>
    <div class="question"><%= post.question.capitalize %>?</div>
    <div class="answer">
      <%= facebook_button 'Yes', accomplishment_path(post.number), :method => :put, :class => %w(yes-i-did thumbs-up) %>
      <%= facebook_button 'Not yet', accomplishment_path(post.number), :class => 'not-yet' %>
    </div>
    <div style="margin: 9px 0;">
      <%= link_to post_summary(post), post %>
    </div>
    <!-- <div class="full-list">
      <%= link_to 'Show the full list', posts_path %>
    </div> -->
  <% end %>
<% end %>