<div id="friends">
  <h2>Hello <%= facebook_name(facebook_user.fb_uid) %></h2>
  <h2>You are whiter than 50% of your friends</h2>
</div>

<div id="random-white-thing">
  <% Post.all.choice.tap do |post| %>
    <div class="question"><%= post.question %>?</div>
    <%= facebook_button 'Yes' %>
    <div style="margin: 6px 0;">
      <%= post.accomplishments.count %> white people <%= post.title %>
    </div>
    <div class="full-list">
      <%= link_to 'Show the full list', posts_path %>
    </div>
  <% end %>
</div>

<script>
$(function() {
  // $.getScript(url, function() {



  // FB.ui(share, function(response) { console.log(response); });
});
</script>