<%= stylesheet_link_tag 'shared/progress', 'shared/feed' %>

<div id="left-side">
  <div id="profile-info">
    <%= facebook_picture(facebook_uid, :size => 'square') %>
    <div class="name-progress">
      <h2>
        Hey
        <%= facebook_name(facebook_uid, :firstnameonly => true) %>!
      </h2>
      <strong>White Progress Meter</strong>
      <div class="progress">
        <div class="meter">
          <%= content_tag :div, '', :class => 'filled', :style => "width: #{number_to_percentage(facebook_user.progress * 100)}" %>
        </div>
        <div class="percent">
          <%= number_to_percentage(facebook_user.progress * 100, :precision => 1) %> White
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2>Recent white stuff</h2>
    <div id="news-feed">
      <div class="waiting large"></div>
    </div>
  </div>
</div>

<div id="right-side">
  <div class="random-white-thing">
    <%= render 'random_white_thing' %>
  </div>
  <div class="random-white-thing">
    <%= render 'random_white_thing' %>
  </div>
  <div class="random-white-thing">
    <%= render 'random_white_thing' %>
  </div>
</div>

<script>
$(function() {
  try {
    SWPD.getFriends('/me/feed');
  } catch (e) {
    alert(e);
  }

  $('.random-white-thing .not-yet').click(function(event) {
    event.preventDefault();
    $(this).parents('.random-white-thing').fadeOut(500, function() {
      $(this).remove();
    });
  });
});
</script>