<%= stylesheet_link_tag 'shared/progress', 'shared/feed' %>

<div id="left-side">
  <div id="profile-info">
    <%= facebook_picture(facebook_uid, :size => 'square') %>
    <div class="name-progress">
      <h2>
        Hey
        <%= facebook_name(facebook_uid, :firstnameonly => true) %>!
      </h2>
      <strong>White Progress Meter</strong>
    </div>
    <%= render 'shared/progress', :user => facebook_user %>
  </div>
  <div>
    <h2>Recent white stuff</h2>
    <div id="news-feed">
      <div class="waiting large"></div>
    </div>
  </div>
</div>

<div id="right-side">
  <% @random_posts.each_with_index do |post, i| %>
    <div class="random-wrap" style="display: none;">
      <%= render 'random_post' %>
    </div>
  <% end %>
</div>

<script>
$(function() {
  SWPD.getFriends('/me/feed');

  SWPD.progress = {
    "total": <%= Post.count %>,
    "completed": <%= facebook_user.accomplishments_count %>,
    "percent": function() {
      return Math.round(1000 * (this.completed / this.total)) / 10;
    }
  };
  
  SWPD.posts = <%= raw(random_posts(@random_posts).to_json) %>;
  
  function renderRandomPost(el, post) {
    el = $(el);
    el.find('.question').html(post.question + '?');
    el.find('.answer a').attr('href', '/accomplishments/' + post.number);
    el.find('.summary a').attr('href', '/posts/' + post.number).html(post.summary);
  }

  $('#right-side .random-wrap').each(function(i, el) {
    renderRandomPost(el, SWPD.posts[i]);
  }).show();

  function loadRandomPost() {
    var existing = SWPD.posts.map(function(post) { return post.number; }).join(',');

    var el = this;
    $.getJSON('/me/random_post?existing=' + existing, function(post) {
      if (post !== null) {
        renderRandomPost(el, post);
        SWPD.posts.push(post);
        $(el).stop(true, true).fadeIn();
      }
    });
  }

  $('#right-side .random-post .yes-i-did').click(function(event) {
    event.preventDefault();
    SWPD.progress.completed += 1;
    $('#progress .filled').width(SWPD.progress.percent() + '%');
    $('#progress .percent').html(SWPD.progress.percent() + '% White');
    $(this).parents('.random-post').fadeOut(500, loadRandomPost);
  });

  $('#right-side .random-post .not-yet').click(function(event) {
    event.preventDefault();
    $(this).parents('.random-post').fadeOut(500, loadRandomPost);
  });
});
</script>