<%= stylesheet_link_tag 'shared/progress', 'shared/feed' %>

<div id="left-side">
  <div id="profile-info">
    <div class="pic">
      <%= facebook_picture(facebook_uid, :size => 'square') %>
    </div>
    <div class="name-progress">
      <h2>
        Hey
        <%= facebook_name(facebook_uid, :firstnameonly => true) %>!
        <%= link_to 'Share on Facebook', {}, :id => 'publish' %>
      </h2>
      <strong>White Progress Meter</strong>
      <%= render 'shared/progress', :user => facebook_user %>
    </div>
  </div>
  <div>
    <h2>Recent white achievements</h2>
    <div id="news-feed">
      <div class="waiting large"></div>
    </div>
  </div>
</div>

<div id="right-side">
  <% @random_posts.each_with_index do |post, i| %>
    <div class="random-wrap" style="display: none;">
      <%= render 'random_post' %>
    </div>
  <% end %>
</div>

<script>
$(function() {
  SWPD.getFriends('/me/feed');

  SWPD.progress = {
    "total": <%= Post.count %>,
    "completed": <%= facebook_user.accomplishments.count %>,
    "percent": function() {
      var fraction = this.completed / this.total;
      return (Math.round(1000 * fraction) / 10) + '%';
    },
    advance: function() {
      this.completed += 1;
      $('#progress .filled').width(this.percent());
      $('#progress .percent').html(this.percent() + ' White');
    }
  };
  
  SWPD.posts = <%= raw(random_posts(@random_posts).to_json) %>;
  SWPD.user_id = <%= facebook_user.id %>;
  
  function renderPost(el, post) {
    el = $(el);
    el.find('.question').html(post.question + '?');
    el.find('.answer a').attr('href', '/accomplishments/' + post.number);
    el.find('.summary a').attr('href', '/posts/' + post.number).html(post.summary);
  }

  $('#right-side .random-wrap').each(function(i, el) {
    renderPost(el, SWPD.posts[i]);
  }).show();

  function getRandomPost() {
    var existing = SWPD.posts.map(function(post) { return post.number; }).join(',');

    var el = this;
    $.getJSON('/me/random_post?existing=' + existing, function(post) {
      if (post !== null) {
        renderPost(el, post);
        SWPD.posts.push(post);
        $(el).stop(true, true).fadeIn();
      }
    });
  }

  $('#right-side .random-post .yes-i-did').click(function(event) {
    event.preventDefault();
    SWPD.progress.advance();
    $(this).parents('.random-post').fadeOut(500, getRandomPost);
  });

  $('#right-side .random-post .not-yet').click(function(event) {
    event.preventDefault();
    $(this).parents('.random-post').fadeOut(500, getRandomPost);
  });
  
  $('#publish').click(function(event) {
    event.preventDefault();
    SWPD.publish(SWPD.progress.percent());
  })
});
</script>