<div id="white-friends">
  <h2>Hello <%= facebook_name(facebook_user.fb_uid) %></h2>
  <h2>You are whiter than 50% of your friends</h2>
</div>

<div id="random-white-thing">
  <% Post.all.choice.tap do |post| %>
    <div class="question"><%= post.question %>?</div>
    <%= facebook_button 'Yes' %>
    <div style="margin: 6px 0;">
      <%= post.accomplishments.count %> white people <%= post.title %>
    </div>
    <div class="full-list">
      <%= link_to 'Show the full list', posts_path %>
    </div>
  <% end %>
</div>

<script>
$(function() {
  // $.getScript(url, function() {

  // SWPD.friends(function(whiggers) {
  //   $.each(whiggers, function(i, whigger) {
  //     addWhiggerFriend(whigger);
  //   });
  // });
  // FB.ui(
  //   {
  //     method: 'stream.publish',
  //     message: 'I am now 75% white',
  //     attachment: {
  //       name: 'Stuff White People Did',
  //       // caption: 'The Facebook Connect JavaScript SDK',
  //       description: (
  //         'A small JavaScript library that allows you to harness ' +
  //         'the power of Facebook, bringing the user\'s identity, ' +
  //         'social graph and distribution power to your site.'
  //       ),
  //       href: 'http://stuffwhitepeopledid.com'
  //     },
  //     action_links: [
  //       { text: 'Code', href: 'http://github.com/facebook/connect-js' }
  //     ],
  //     // user_prompt_message: 'Share your thoughts about Connect'
  //   },
  //   function(response) {
  //     if (response && response.post_id) {
  //       alert('Post was published.');
  //     } else {
  //       alert('Post was not published.');
  //     }
  //   }
  // );

  // FB.ui(share, function(response) { console.log(response); });
});
</script>