<div id="about">
  <h2>How White Are You?</h2>
  <p>
    If you're a fan of
    <%= link_to 'Stuff White People Like', 'http://stuffwhitepeoplelike.com' %>,
    it's time to start putting yourself to the test as a white person.
  </p>
  <p>
    Click Login to start comparing yourself with friends, and measuring white progress.
  </p>
  <p>
    <fb:login-button show-faces="true"></fb:login-button>
  </p>
</div>

<div id="recent-white-accomplishments">
  <h2>Recent White Accomplishments</h2>
  <ul>
    <% User.recently_accomplished.each do |user| %>
      <li>
        <%= link_to user, :class => 'pic' do %>
          <%= facebook_picture(user.fb_uid) %>
        <% end %>
        <div class="accomplishment">
          <div class="message">
            <%= link_to user, :class => 'name' do %>
              <%= facebook_name(user.fb_uid) %>
            <% end %>
            <%= link_to_post user.latest_accomplishment.post %>.
          </div>
          <div class="time">
            <%= time_ago_in_words user.latest_accomplishment.created_at %> ago
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
