<h2>
  <%= pluralize(@post.accomplishments.count, "white person #{@post.title}", "white people #{@post.third_person_plural}") %>
  <%= link_to 'View original article', url_for_original_post(@post) %>
</h2>
<div id="have-you-done-this">
  <% if facebook_connected? %>
    <% if facebook_user.accomplished?(@post) %>
      <p>
        <strong>You already <%= @post.second_person %></strong>
      </p>
      <%= facebook_button 'I was lying', accomplishment_path(@post), :method => :delete %>
    <% else %>
      <p>
        <strong>I <%= @post.first_person %>!</strong>
      </p>
      <%= facebook_button 'Add to my accomplishments', accomplishment_path(@post), :method => :put %>
    <% end %>
  <% else %>
    <p>
      If you've already done this, login
      to show your friends how white you really are.
    </p>
    <fb:login-button show-faces="true"></fb:login-button>
  <% end %>
</div>

<% if facebook_connected? %>
<% end %>

<div id="other-white-people">
  <strong>White people who recently did this:</strong>
  <% @post.accomplishments.recent.includes(:user).limit(20).in_groups_of(4, false) do |accomplishments| %>
    <div class="people">
      <% accomplishments.each do |accomplishment| %>
        <div class="person">
          <%= link_to accomplishment.user do %>
            <%= facebook_picture(accomplishment.user.fb_uid, :size => 'square') %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

