<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag 'reset', 'layout', controller_name %>
  <%= javascript_include_tag 'jquery' %>
  <title>Stuff White People Did</title>
</head>
<body>
  <div id="banner">
    <div id="header" class="body">
      <%= link_to 'Stuff White People Did', root_path, :class => 'title' %>
      <div id="menu">
        <% if facebook_connected? %>
          <%= facebook_picture(facebook_uid, :size => 'small') %>
        <% else %>
          <fb:login-button></fb:login-button>
        <% end %>
      </div>
    </div>
  </div>
  <div id="content" class="body">
    <%= yield %>
  </div>
  <%= render 'shared/facebook_js' %>
</body>
</html>