<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <%= stylesheet_link_tag 'reset', 'layout', controller_name %>
  <%= javascript_include_tag 'jquery', 'rails', 'swpd' %>
  <%= csrf_meta_tag %>
  <!--[if IE 7]>
  	<%= stylesheet_link_tag 'ie7' %>
  <![endif]-->
  <title>Stuff White People Did</title>
</head>
<body>
  <div id="banner">
    <div id="header" class="body">
      <%= link_to 'Stuff White People Did', root_path, :class => 'title' %>
      <div id="menu">
        <% if facebook_connected? %>
          <%= link_to 'Full list of things to do', posts_path %>
        <% else %>
          <fb:login-button></fb:login-button>
        <% end %>
      </div>
    </div>
  </div>
  <div id="content" class="body">
    <%= yield %>
  </div>
  <%= render 'shared/facebook_js' %>
</body>
</html>